.detailed-poster-card-container {
    cursor: pointer;
    position: relative;
    width: 8rem;
}

.detailed-poster-card-rating {
    position: absolute;
    top: .2rem;
    right: .2rem;
}

.detailed-poster-card-tray {
    padding: .2rem;
}

.detailed-poster-card-tray .title {
    font-size: .9rem;
}