.poster-card-container {
    align-items: center;
    border-radius: .2rem;
    display: flex;
    flex-direction: column;
    width: 8rem;
    height: 12rem;
    overflow-x: hidden;
}

.poster-card-image {
    height: 100%;
}