.poster-card-container {
    align-items: center;
    border-radius: .2rem;
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 6rem;
    overflow-x: hidden;
}

.poster-card-image {
    height: 100%;
}


@media only screen and (min-width: 550px) {
    .poster-card-container {
        height: 12rem;
        width: 8rem;
    }
}

@media only screen and (min-width: 800px) {
    .poster-card-container {
        height: 15rem;
        width: 10rem;
    }
}