.poster-card-category-row-container {
    margin-bottom: .5rem;
}

.poster-card-category-row-title-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 .8rem .8rem .8rem;
    font-size: 1rem;
}

.poster-card-category-row-nav-button-container {
    display: none;
}

/* .poster-card-category-row {
    width: 100%;
    --poster-card-category-row-spacing: .8rem;
}

.poster-card-category-row-carousel {
    --poster-card-height: 12rem;
    --poster-card-width: calc(var(--poster-card-height) * 2 / 3);
}

.poster-card-category-row-carousel .poster-card-container {
    height: var(--poster-card-height);
    width: var(--poster-card-width);
}

ul.poster-card-category-row-carousel-slides {
    width: 100% !important;
} */

@media only screen and (min-width: 550px) {
    .poster-card-category-row-title-container {
        font-size: 1.2rem;
        margin: 0 1.6rem .9rem 1.6rem;
    }

    .poster-card-category-row-nav-button-container {
        align-items: center;
        display: flex;
    }

    .poster-card-category-row-nav-button {
        font-size: 1.7rem;
        margin-left: .7rem;
    }

    /* .poster-card-category-row-carousel {
        --poster-card-height: 12rem;
    }

    .poster-card-category-row-carousel {
        margin-bottom: 1.5rem;
    } */
}

@media only screen and (min-width: 800px) {
    .poster-card-category-row-title-container {
        font-size: 1.3rem;
        margin: 0 1.6rem .9rem 1.6rem;
    }

    .poster-card-category-row-nav-button-container {
        margin-right: .2rem;
    }

    .poster-card-category-row-nav-button {
        font-size: 1.9rem;
        margin-left: .8rem;
    }

    .poster-card-category-row-carousel {
        --poster-card-height: 15rem;
    }

    .poster-card-category-row-carousel {
        margin-bottom: 2.5rem;
    }
}