.poster-card-category-row-container {

}

.poster-card-category-row-title-container {
    margin: 0 .8rem .8rem .8rem;
    font-size: 1rem;
}

.poster-card-category-row {
    width: 100%;
    --poster-card-category-row-spacing: .8rem;
}

.poster-card-category-row swiper-slide {
    width: min-content;
    margin: 0 var(--poster-card-category-row-spacing);
}

@media only screen and (min-width: 550px) {
    .poster-card-category-row swiper-slide:first-of-type {
        margin-left: calc(2 * var(--poster-card-category-row-spacing));
    }
    
    .poster-card-category-row swiper-slide:last-of-type  {
        margin-right: calc(2 * var(--poster-card-category-row-spacing));
    }

    .poster-card-category-row-title-container {
        font-size: 1.2rem;
    }
}